.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* ? Enable these and remove justify-content: center to enable 100+ doors for a round */
  /* 
  margin-top: auto;
  margin-bottom: auto; 
  */
  align-items: center;
  height: 100vh;
}

.doors {
  display: flex;
  align-self: stretch;
  justify-content: space-around;
  flex-wrap: wrap;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.buttons button:hover {
  background-color: #c0382c78;
}

.buttons button {
  background-color: #c0392c;
  color: #fff;
  font-size: 2rem;
  border: none;
  padding: 10px 25px;
}
